
 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }

 body, html {
    height: 100%;
    font-family: 'News Cycle', Arial, sans-serif;

}

a {
    color: inherit;
    text-decoration: none!important;
}

h1 {
    font-size: 4.375em;
    color: #EDE6CD;
    font-family: flood-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #F58233;
    font-size: 2.375em;
    line-height: 1.25em;
}

h3 {
    color: #EDE6CD;
    font-size: 3em;
    font-weight: 700;
    text-align: right;
    padding: .15em .2em .05em .5em;
    line-height: 1.125em;
}

#ceremonycontainer h3 {
    text-align: left;
    margin: .125em;
    padding: 0;
    color: black;
}

#ceremonycontainer h4 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

#ceremonycontainer p {
    text-align: left;
    margin: 0 .125em;
    padding: 0;
    font-weight: 700;
}

h6 {
    color: #EDE6CD;
    font-size: 2em;
}

p {
    font-size: 1.125em;
    line-height: 1.25em;
}

#quicklinks p {
    color: #EDE6CD;
    size: 1.875em;
    text-align: right;
    line-height: 1em;
    padding: .15em .2em .05em .5em;
}

nav {
    width: 100%;
    background-color: black;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EDE6CD;
    color: #EDE6CD;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
  li {
    padding: 1.5em 10px;
    margin: 0px 2px;
    font-size: 1.125em;
}

li:hover{
    color: black;
    background-color: #F58233;
}
 
.splash {
    height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../media/splash.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.splashceremony {
    height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../media/ceremony.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.splashtextceremony {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-button {
    background-color: #EDE6CD;
    color: black;
    width: 100%;
    margin-top: 2em;
    border: 1px solid #EDE6CD;
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    cursor: pointer;
    font-family: 'News Cycle', Arial, sans-serif;
}

 .splash-button:hover {
     background-color: #F58233;
}

#toplogo {
    height: 50%;
    padding: 0 10px;
}

.blurb {
    background-color: #EDE6CD;
    width: 100%;
}

.blurbh {
    text-align: center;
    margin: 15px auto;
}

#aboutsection {
    text-align: justify;
    width: 35%;
    margin: 15px auto;

}

#quicklinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5em;
    margin-top: 5em;
}
.linkflex {
    width: 15em;
    height: 15em;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: .125em;
}

#mainkoi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi2.jpg");
    
}

#ceremonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi1.jpg");
}

#koicare {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi5.jpg");
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi3.jpg");
}

#ceremonycontainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    size: 85%;
    margin-bottom: 2em;
}

.pcontainer {
    width: 80%;
}

.fishpond {
    width: 30%;
    margin: .125em;
}

.heading {
    width: 70%;
    text-align: center;
    margin: 2.5em auto;
    padding: 1em 0;
    border-top: 1px solid #EDE6CD;
    border-bottom: 1px solid #EDE6CD;
}

.about {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
}

.containerabout {
    width: 40%;
    margin: .125em;
    padding: 1em;
}

.logocenter {
    width: 100%;
    padding: 0em 8.5em;
}

.floatthis {
    float: right;
    position: relative;
}

#contactcontainer {
    width: 60%;
    height: 30%;
    text-align: center;
    margin: 2em auto 0em auto;
}

#fishbg {
    height: 60%;
    width: 100%;
    background-image: url("../media/feeders.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.fishcontainer {
    width: 64%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.babycage {
    margin: 1.125em;
}

.bigfish {
    height: 20em;
    overflow: hidden;
}


footer {
    line-height: 1.125em;
    color: #EDE6CD;
    background-color: black; 
    padding: 2em 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .linkflex {
        width: 25em;
        height: 25em;
        background-color: black;
        margin: .125em;
    } 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .splash {
        height: 100%;
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../media/splashsmall.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
    }
    
    #quicklinks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }

    .linkflex {
        width: 100vw;
        height: 50vh;
        background-color: black;
        margin: .125em;
        
    } 

    #aboutsection {
        text-align: left;
        min-width: 75vw;
        margin: 15px auto;
    
    }

    #ceremonycontainer {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        size: 85%;
        margin-bottom: 2em;
    }
    
    .pcontainer {
        width: 80%;
    }
    
    .fishpond {
        width: 30%;
        margin: .125em;
    }

    .about {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .containerabout {
        width: 100%;
        margin: .125em;
        padding: 1em;
    }
    
    .logocenter {
        width: 100%;
        padding: 0em 8.5em;
    }
    
}