
 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }
 
 body, html {
    height: 100%;
    font-family: 'News Cycle', Arial, sans-serif;

}

h2 {
    color: #F58233;
    font-size: 2.375em;
    line-height: 1.25em;
}

h3 {
    color: #EDE6CD;
    font-size: 3em;
    font-weight: 700;
    text-align: right;
    padding: .15em .2em .05em .5em;
    line-height: 1.125em;
}

p {
    font-size: 1.125em;
    line-height: 1.25em;
}

#quicklinks p {
    color: #EDE6CD;
    size: 1.875em;
    text-align: right;
    line-height: 1em;
    padding: .15em .2em .05em .5em;
}

nav {
    width: 100%;
    background-color: black;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EDE6CD;
    color: #EDE6CD;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
  li {
    padding: 5em 10px;
    margin: 0px 2px;
    font-size: 1.125em;
}

li:hover{
    color: black;
    background-color: #F58233;
}
 
.splash {
    height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../media/splash.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.splash-button {
    background-color: #EDE6CD;
    color: black;
    width: 100%;
    margin-top: 2em;
    border: 1px solid #EDE6CD;
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    cursor: pointer;
    font-family: 'News Cycle', Arial, sans-serif;
}

 .splash-button:hover {
     background-color: #F58233;
}

#toplogo {
    height: 50%;
    padding: 0 10px;
}

.blurb {
    background-color: #EDE6CD;
    width: 100%;
}

.blurbh {
    text-align: center;
    margin: 15px auto;
}

#aboutsection {
    text-align: justify;
    width: 35%;
    margin: 15px auto;

}

#quicklinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5em;
    margin-top: 5em;
}
.linkflex {
    width: 15em;
    height: 15em;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: .125em;
}

#mainkoi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi2.jpg");
    
}

#ceremonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi1.jpg");
}

#koicare {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi5.jpg");
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("../media/koi3.jpg");
}

footer {
    line-height: 1.125em;
    color: #EDE6CD;
    background-color: black; 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .linkflex {
        width: 25em;
        height: 25em;
        background-color: black;
        margin: .125em;
    } 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    #quicklinks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2.5em;
        margin-top: 2.5em;
    }

    .linkflex {
        width: 100vw;
        height: 50vh;
        background-color: black;
        margin: .125em;
        
    } 

    #aboutsection {
        text-align: left;
        min-width: 75vw;
        margin: 15px auto;
    
    }
}
